<main class="container my-4 text-center">

    <table class="table table-bordered table-hover align-middle">
        <thead class="table-primary">
            <tr>
                <th>ID EMPLEADO</th>
                <th>NOMBRE</th>
                <th>APELLIDOS</th>
                <th>EDAD</th>
                <th>FECHA NACIMIENTO</th>
                <th>ID HOTEL</th>
                <th>ACCIONES</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let empleado of empleadosList">
                <td>{{empleado.id}}</td>
                <td>{{empleado.nombre}}</td>
                <td>{{empleado.apellidos}}</td>
                <td>{{empleado.edad}}</td>
                <td>{{empleado.fecha_nacimiento}}</td>
                <td>{{empleado.id_hotel}}</td>
                <td>
                    <a [routerLink]="['/empleados/editar/', empleado.id]">
                        <button class="btn btn-success" style="margin-right: 10px;">
                            <i class="bi bi-pencil"></i> Editar
                        </button>
                    </a>
                    <button class="btn btn-danger" (click)="deleteEmpleado(empleado.id);">
                        <i class="bi bi-trash3"></i> Borrar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center mt-3">
        <a [routerLink]="['/empleados/crear']">
            <button class="btn btn-primary">
                <i class="bi bi-plus"></i>Añadir Empleado
            </button>
        </a>
    </div>

</main>