<div class="container d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 100px);">
    <div class="row text-center w-100 align-items-center">
        <div class="col-sm-6 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <a [routerLink]="['hoteles']">
                        <img src="../../../assets/images/hotel-bg.jpg"
                            style="width: 50%; height: 50%; object-fit: cover; border-radius: 8px;"
                            class="card-img-top img-fluid" alt="Hotel">
                        <h5 class="card-title mt-3">Gestión de hoteles almacenados en el sistema</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <a [routerLink]="['empleados']">
                        <img src="../../../assets/images/empleados-bg.jpg"
                            style="width: 50%; height: 50%; object-fit: cover; border-radius: 8px;"
                            class="card-img-top img-fluid" alt="Empleados">
                        <h5 class="card-title mt-3">Gestión de empleados almacenados en el sistema</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
