<div class="container mt-4">
    <h2>Detalle del Hotel</h2>
    <form [formGroup]="hotelForm">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control">
      </div>
      <div class="mb-3">
        <label for="direccion" class="form-label">Dirección</label>
        <input type="text" id="direccion" formControlName="direccion" class="form-control">
      </div>
      <div class="mb-3">
        <label for="provincia" class="form-label">Provincia</label>
        <input type="text" id="provincia" formControlName="provincia" class="form-control">
      </div>
      <div class="mb-3">
        <label for="aforo" class="form-label">Aforo</label>
        <input type="number" id="aforo" formControlName="aforo" class="form-control">
      </div>
      <div class="mb-3">
        <label for="piscina" class="form-label">Piscina</label>
        <input type="checkbox" id="piscina" formControlName="piscina" class="form-check-input">
      </div>
      <div id="map" style="height: 400px; width: 100%;"></div>
    </form>
  </div>