<div class="container mt-4">
    <h2>Crear Empleado</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control" required>
        <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="text-danger">
          El nombre es requerido.
        </div>
      </div>
      <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos</label>
        <input type="text" id="apellidos" formControlName="apellidos" class="form-control" required>
        <div *ngIf="form.get('apellidos')?.invalid && form.get('apellidos')?.touched" class="text-danger">
          Los apellidos son requeridos.
        </div>
      </div>
      <div class="mb-3">
        <label for="edad" class="form-label">Edad</label>
        <input type="number" id="edad" formControlName="edad" class="form-control" required>
        <div *ngIf="form.get('edad')?.invalid && form.get('edad')?.touched" class="text-danger">
          La edad es requerida.
        </div>
      </div>
      <div class="mb-3">
        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
        <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-control" required>
        <div *ngIf="form.get('fecha_nacimiento')?.invalid && form.get('fecha_nacimiento')?.touched" class="text-danger">
          La fecha de nacimiento es requerida y no puede ser anterior a 1950.
        </div>
      </div>
      <div class="mb-3">
        <label for="id_hotel" class="form-label">Hotel</label>
        <select id="id_hotel" formControlName="id_hotel" class="form-control" required>
          <option *ngFor="let hotel of hoteles" [value]="hotel.id">{{ hotel.nombre }}</option>
        </select>
        <div *ngIf="form.get('id_hotel')?.invalid && form.get('id_hotel')?.touched" class="text-danger">
          El hotel es requerido.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Crear Empleado</button>
    </form>
  </div>